@tailwind base;
@tailwind components;
@tailwind utilities;

body[style='pointer-events: none;'] {
  position: static !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  overflow: visible !important;
  margin-right: unset !important;
  margin: 0 auto !important;
}

@layer base {
  :root {
    --background: 60 60% 99.02%;
    --foreground: 0 0% 25.1%;
    --card: 60 60% 99.02%;
    --card-foreground: 0 0% 25.1%;
    --popover: 60 60% 99.02%;
    --popover-foreground: 0 0% 25.1%;
    /* --primary: 215, 100%, 50%; */
    /* --primary: 335, 100%, 50%; */
    --primary: 215, 100%, 50%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 60 12.2% 83.92%;
    --input: 60 12.2% 83.92%;
    --ring: 215, 100%, 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 25.1%;
    --foreground: 210 20% 98%;
    --card: 0 0% 25.1%;
    --card-foreground: 210 20% 98%;
    --popover: 0 0% 25.1%;
    --popover-foreground: 210 20% 98%;
    /* --primary: 215, 100%, 50%; */
    /* --primary: 335, 100%, 50%; */
    --primary: 215, 100%, 50%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 215, 100%, 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Scrollbar Styling */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.dark ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.light ::-webkit-scrollbar-track {
  background: #030712;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff0069;
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1f7bf1;
}
/* END Scrollbar Styling */
